.bannerlist{
    width: 100%;
    display: flex;
    flex-wrap:wrap;

    div{
        flex:1;
        height: 214px;
        color: white;
        font-weight: 200;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        h2{
            font-size: 26px;
        }
        h2:not(:last-child)::after {
            content: "";
            display: block;
            width: 25px;
            height: 2px;
            margin: 10px auto;
            background: #fff;
        }
        h3:not(:last-child){
            font-size: 16px;
        }
       

        div:not(:last-child):hover{
            &::after{
                content: "";
                width:100%;
                height: 100%;
                display: block;
                background: red;
            }
        }
    }

    @for $i from 1 to 7 {
        div:nth-of-type(#{$i}) {
            background: {
                image:url("./banner-#{$i}.png");
                repeat:no-repeat;
                size:cover;
            }
        }
    }
}