html,body,p{
    margin: 0;
    padding: 0;
}
#box{
    position: relative;
    top: 100px;
    left: 100px;
}
#box>i{
    position: absolute;
    top: 0;
    width: 4px;
    height: 35px;
    background-color: #0bac84;
    border-radius: 5px ;
}
#box>i:nth-of-type(1){
    left: 0px;
    animation: loading 1s ease-in .0s infinite;
}

#box>i:nth-of-type(2){
    left: 8px;
    animation: loading 1s ease-in .25s infinite;
}

#box>i:nth-of-type(3){
    left: 16px;
    animation: loading 1s ease-in .5s infinite;
}

#box>i:nth-of-type(4){
    left: 24px;
    animation: loading 1s ease-in .25s infinite;
}

#box>i:nth-of-type(5){
    left: 32px;
    animation: loading 1s ease-in 0s infinite;
}

@keyframes loading{
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0.5);
    }
    100%{
        transform: scaleY(1);
    }
}