.navlist{
    float: right;
    height: inherit;
    margin-right: 140px;
    a{
        display: inline-block;
        position: relative;
        padding-left: 20px;
        padding-right: 40px;
        height: inherit;
        // width: 120px;
        line-height: 3em;
        font-size: 28px;
        font-weight: 200;
        color: #fff;
        &:hover{
            background: #1976d2;
            color: #fff;
            text-decoration: none;
            &::after{
                content: "";
                display: inline-block;
                position: absolute;
                border: 10px solid;
                border-color: #fff transparent transparent;
                top: 39px;
                right: 12px;
            }
            // color: currentColor;
        }
    }
}